.homepage-main {
    padding: 80px 15px; /* Adjust padding-top to match the navbar height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1; /* Allow content area to expand */
    background-color: #0c6262;
}

.homepage-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.homepage-description {
    max-width: 600px;
}

.homepage-description h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 25px;
}

.homepage-description p {
    font-size: 18px;
    color: #bb8484;
    line-height: 1.6;
}

/* .homepage-image-container {
    max-width: 50%;
    height: 300px;
    background-image: url('../../Photos/dormify-logo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
} */

.contact-info {
    font-size: 16px;
    color: #ddd;
}

/* Footer at the bottom of the screen */
body, html {
    height: 100%; /* Ensure full height for the body */
    margin: 0;
}

